{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method="POST">
  {%csrf_token %}
  {{ form.as_p }}
  <button type="submit" id="add-habit-button">Add Habit</button>
</form>
  <h2 class="your-habits">Your Habits</h2>
  {% for habit in habits %}
  <div class="habit-display">
    <a href="{% url 'habit_detail' habit.pk %}"><h4>{{ habit.habit_name }}</h4></a>
      <p>Daily Goal: {{ habit.target_goal }} {{ habit.measurement }}</p>
    <button class="edit-habit">Edit</button>
    <button class="delete-habit">Delete</button>
  </div>
  {% endfor %}

{% endblock %}
